.group-details-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 12% 20px 12%;
}

.group-details-breadcrumb {
    margin-top: 5vh;
}

.group-details-upper-container {
    display: flex;
    max-height: 50%;
    height: 50%
}

.group-details-group-image {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.group-details-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.group-details-upper-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
    justify-content: space-between;
}

.group-details-info-block {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--purple);
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.group-details-info-block>h1 {
    overflow-wrap: break-word;
    margin-top: 0;
}

.group-details-join-group-button-container>button {
    background-color: red;
    width: 50%;
    height: 60px;
    box-shadow: 2px 2px;
    font-size: 1.5em;
    cursor: pointer;
}

.group-details-lower-container {
    margin-left: 20px;
}

.group-details-events-container {
    margin-left: 20px;
}

.group-details-create-event-button,
.group-details-update-button,
.modal-button,
.event-details-update-button {
    background-color: darkgray;
    width: 100px;
    margin-right: 10px;
    height: 40px;
}

.group-details-buttons {
    justify-self: flex-end;
}

.hidden {
    display: none;
}
