.group-details-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.group-details-upper-container {
    display: flex;
    max-height: 50%;
    height: 50%;

}

.group-details-group-image {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    margin: 50px;
}

.group-details-img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50%;
}

.group-details-upper-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width: 50%;
}

.group-details-join-group-button {
    background-color: red;
    max-width: 50%;
    align-self: flex-start;
}

.hidden {
    display: none;
}
