.group-details-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.group-details-breadcrumb {
    margin-top: 5vh;
    margin-left: 30px;
}

.group-details-upper-container {
    display: flex;
    height: 40%;
    width: 100%;
}

.group-details-group-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.group-details-img-side {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.group-details-img-container {
    height: 100%;
    display: flex;
    width: 75%;
    margin-right: 20px;
}

.group-details-upper-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.group-details-upper-info>h1 {
    overflow-wrap: break-word;
}

.group-details-join-group-button-container>button {
    background-color: var(--purple);
    width: 50%;
    align-self: center;
    justify-content: flex-start;
    height: 30px;
    box-shadow: 2px 2px;
}

.group-details-lower-container {
    margin-left: 20px;
}

.group-details-events-container {
    margin-left: 20px;
}

.hidden {
    display: none;
}
