.landing-page-content {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #aca693;
    margin: 0;
}

.landing-page-intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 40%;
    margin-left: 80px;
    margin-right: 10px;
}

.landing-page-intro-img-container {
    display: flex;
    justify-content: center;
    flex: 1 1 50%;
    align-items: center;
}

.landing-page-intro-img {
    max-width: 55%;
    height: 90%;
}

.landing-page-intro-subtitle-container {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#intro-subtitle {
    margin-bottom: 0;
    margin-top: 1em;
}

#intro-subtitle-caption {
    max-width: 33%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.landing-page-join-button-container {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}

#landing-page-join-button {
    box-shadow: 2px 2px;
}

.landing-page-all-cards-container {
    display: flex;
}
