.landing-page-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 33%;
    height: 100%;
}

.landing-page-card {
    background-color: var(--purple);
    height: 50%;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
}

.landing-page-card-link {
    text-decoration: none;
    color: black;
    width: 80%;
    height: 100%;
}

.landing-page-img-container {
    display: flex;
    justify-content: center;
    height: 50%;
}

.landing-page-card-img {
    display: flex;
    max-width: 200px;
    max-height: 200px
}

.landing-page-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.landing-page-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

.disabled {
    pointer-events: none;
    color: lightgray;
}
