.profile-dropdown {
  position: absolute;
  top: 25px;
  right: 1%;
  list-style-type: none;
}

#navlogo {
  height: 50px;
  width: auto;
}

.profile-dropdown-menu {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  padding: 20px;
  border: black 3px solid;
}

.profile-dropdown-item {
  margin-bottom: 8px;
}

.profile-logout-button-container {
  padding-top: 8px;
  margin-top: 8px;
  border-top: black 2px solid;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-dropdown-guest-item {
  margin-bottom: 8px;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #8E71A2;
  padding: 10px 20px;
  transition: 0.5s;
  box-sizing: border-box;
  /* position: fixed; */
  width: 100%;
  top: 0;
  /* z-index: 1; */
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.hidden {
  display: none;
}
